<html>

<head>
    <title>Pippin's Fan Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#313F4F">
        <a class="navbar-brand" href="#">Second Breakfast</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/pippin">Pippin Approved</a>
                <a class="nav-item nav-link" href="/travel">Travel</a>
                <a class="nav-item nav-link" href="/blog">Blog</a>
                <a class="nav-item nav-link" href="/fanpage">Members Only</a>
            </div>
        </div>
    </nav>
    <h1>Pippin's fan page</h1>
    <p>Hello {{ user }} welcome to pippin's fan page.
    </p>
    <p><a href="/logout">Click here </a> to log out</p> <br>
    <div class="container">
        <h2>Many Looks of Pippin</h2>
        <p>He's a very good boy</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://scontent-sea1-1.cdninstagram.com/vp/21cd494c567aa70b963f4ef4837ebacd/5C712907/t51.2885-15/e35/43110059_278637066333430_6376974694596502091_n.jpg"
                        target="_blank">
                        <img src="https://scontent-sea1-1.cdninstagram.com/vp/21cd494c567aa70b963f4ef4837ebacd/5C712907/t51.2885-15/e35/43110059_278637066333430_6376974694596502091_n.jpg"
                            style="width:100%">
                        <div class="caption">
                            <p>Playing with my favorite toy</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://scontent-sea1-1.cdninstagram.com/vp/8d75abf09f4590adef6d7d961720c3b0/5C8253BF/t51.2885-15/e35/32514478_169308033736715_7460101689115148288_n.jpg"
                        target="_blank">
                        <img src="https://scontent-sea1-1.cdninstagram.com/vp/8d75abf09f4590adef6d7d961720c3b0/5C8253BF/t51.2885-15/e35/32514478_169308033736715_7460101689115148288_n.jpg"
                            style="width:100%">
                        <div class="caption">
                            <p>Looking good.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://scontent-sea1-1.cdninstagram.com/vp/fdcefedb2ea597618fa29b7fca53cee2/5C8F8CAA/t51.2885-15/e35/43462768_337021046853347_3264613108602146163_n.jpg"
                        target="_blank">
                        <img src="https://scontent-sea1-1.cdninstagram.com/vp/fdcefedb2ea597618fa29b7fca53cee2/5C8F8CAA/t51.2885-15/e35/43462768_337021046853347_3264613108602146163_n.jpg"
                            style="width:100%">
                        <div class="caption">
                            <p>Sitting with my best friend.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>