<!DOCTYPE html>
<html>

<head>
    <title>What About Second Breakfast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#313F4F">
        <a class="navbar-brand" href="#">Second Breakfast</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/pippin">Pippin Approved</a>
                <a class="nav-item nav-link" href="/travel">Travel</a>
                <a class="nav-item nav-link" href="/blog">Blog</a>
                <a class="nav-item nav-link" href="/fanpage">Members Only</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="p-1">
                <h3>IF YOU LIKE PIPPIN, LOTR, & PUPPIES, SCROLL DOWN<br>
                    FOR THE BEST #MINIAUSSIE CONTENT!</h3>
            </div>
        </div>
        <br>
        <div class="text-center">
            <img src="/static/pippin.jpg" class="rounded mx-auto d-block" alt="Responsive image"> <br>
        </div>
    </div>
    <blockquote class="blockquote text-right">
        <p class="mb-0">I'm Pippin, a 9 month old Mini Aussie. I enjoy playing, eating and sleeping. I'm always hungery
            and I'm a tiny nugget of a dog, that's how I got my name!</p>
        <footer class="blockquote-footer">Pippin </footer>
    </blockquote>
</body>

</html>