<html>

<head>
    <title>Pippin Approved</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#313F4F">
        <a class="navbar-brand" href="#">Second Breakfast</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/pippin">Pippin Approved</a>
                <a class="nav-item nav-link" href="/travel">Travel</a>
                <a class="nav-item nav-link" href="/blog">Blog</a>
                <a class="nav-item nav-link" href="/fanpage">Members Only</a>
            </div>
        </div>
    </nav>
    <br>
    <ul class="list-unstyled">
        <li>Things Pippin Likes
            <ul>
                <li>Tennis Ball</li>
                <li>Carrots</li>
                <li>Kelowna City Park</li>
                <li>My office in the innovation center</li>
            </ul>
        </li>
</body>

</html>